<!DOCTYPE html>
<html>
<head>
    <title>Physique CCML</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>

<h2>Modélisation de données</h2>

<label>Valeurs de l'axe horizontal:</label><br>
<input id="xdata" size="60"><br><br>

<label>Valeurs de l'axe vertical:</label><br>
<input id="ydata" size="60"><br><br>

<label>Équation de la courbe de tendance (exemple: a*x**2 + b):</label><br>
<input id="model" size="60"><br><br>

<label>Titre de l'axe horizontal:</label><br>
<input id="xlabel"><br>

<label>Titre de l'axe vertical:</label><br>
<input id="ylabel"><br><br>

<button onclick="sendData()">Calculer</button>

<h3>Résultats:</h3>
<div id="results"></div>

<div id="plot"></div>

<script src="/static/script.js"></script>

</body>
</html>
